@charset "UTF-8";

/*** CSS Variables ***/
/** Responsive Layout **/
/* Desktop Landscape Layout */
:root{
  --main-width: 50%;
  --aside-display: block;
}
/* Desktop Portrait Layout*/
@media(min-width:768px) and (max-aspect-ratio:4/3) {
  :root{
    --main-width: 50%;
    --aside-display: block;
  }
}

/* Mobile Landscape Layout */
@media(max-width:768px) and (min-aspect-ratio:4/3) {
  :root{
    --main-width: 100%;
    --aside-display: none;
  }
}

/* Mobile Portrait Layout */
@media(max-width:768px) and (max-aspect-ratio:4/3) {
  :root{
    --main-width: 100%;
    --aside-display: none;
  }
}


/*** Styles ***/
/** Base **/
h2 {
  font-size: 2rem;
  color: var(--color-accents);
  margin-top: 16px
}


/* レイアウト構成 (Split Screen) */
section{
  position: relative;
}

main,
aside{
  height:100%;
}


/* プロジェクト履歴 */
main{
  float: right;
  width: var(--main-width);
}

/* プロジェクト履歴エリア全体 */
main dl{
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* 上下のダミー余白（スクロールの調整用） */
main .spacer{
  background-color: transparent;
  height: 10%;
  max-height: 144px;
  scroll-snap-align: none;
}

/* プロジェクト履歴カード */
main div{
  scroll-snap-align: center;
  background-color: var(--color-background-main);
  height: 80%;
  max-height: 1440px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  margin-top: 2rem;
}

/* プロジェクト履歴タイトル */
main dt{
  font-size: 1.5rem;
  color: var(--color-main);
  padding-left: 0.25rem;
}

main dd{
  display: block;
}

/* プロジェクト業種 */
main span{
  display: inline-block;
  font-size: 1rem;
  color: var(--color-main);
  padding: 0.25em 0.5em;
  border: 1px solid var(--color-accents);
  border-radius: 5px;
  margin-top: 0.5rem;
}

/* プロジェクト履歴時期 */
main time{
  font-size: 0.91rem;
  color: var(--color-accents);
  margin-left: 1rem;
}

/* プロジェクト履歴作業工程・スキルセット */
main .process,
main .skills{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px 4px;
  margin-top: 0.25rem;
}

main .process li{
  font-size: 0.75rem;
  color: var(--color-sub);
  padding: 0.125em 0.5em;
  border:1px solid var(--color-sub);
  border-radius: 3px;
  margin-top: 0.25em;
}

main .skills li{
  font-size: 0.75rem;
  color: var(--color-sub);
  padding: 0.125em 0.75em;
  border:1px solid var(--color-sub);
  border-radius: 0.75rem;
  margin-top: 0.25em;
}

main li.active{
  /* font-size: 0.83rem; */
  color: var(--color-main);
  border-color: var(--color-accents);
}

/* プロジェクト履歴説明 */
main p{
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-main);
  margin: 0.5rem 0 0 0.5rem;
}


/* スキルセット */
aside{
  float: left;
  display: var(--aside-display);
  width: 50%;
}

aside dt{
  font-size: 1.5rem;
  color: var(--color-main);
  margin-top: 0.5em;
}

aside span{
  display: inline-block;
  font-size:  0.75rem;
  color: var(--color-main);
  background-color: var(--color-background-main);
  padding: 0.125em 1em;
  border: 1px solid var(--color-accents);
  border-radius: 0.75rem;
  margin: 0.15em 0.33em;
  transition: all 0.3s ease;
}

aside .active{
  color: var(--color-background-main);
  background-color: var(--color-accents);
  transform: scale(1.2);
}

aside .non-active{
  color: var(--color-sub);
  border: 1px solid var(--color-background-sub);
  transform: scale(0.8);
}

footer{
  clear:both;
}
