@charset "UTF-8";

/*** CSS Variables ***/
/** Responsive Layout **/
/* Desktop Landscape Layout */

/* Desktop Portrait Layout*/
@media(min-width:768px) and (max-aspect-ratio:4/3) {
}

/* Mobile Landscape Layout */
@media(max-width:768px) and (min-aspect-ratio:4/3) {
}

/* Mobile Portrait Layout */
@media(max-width:768px) and (max-aspect-ratio:4/3) {
}


/*** Styles ***/
/** Tag **/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    border: 1px solid transparent;
    border-radius: 0.5em;
    margin-left: 2rem;
    padding: 0.1em 1em;
    transition: opacity 0.3s, border 0.15s;
}
h1:hover{
    border: 1px solid var(--color-accents);
    opacity: 0.5;
}

ul{
  display: flex;
  gap: 1em;
}

li{
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  transition: opacity 0.3s, border 0.15s;
}
li:hover{
  border: 1px solid var(--color-accents);
  opacity: 0.5;
}

/* Class */
/* レイアウト構成 (Split Screen) */
/* レイアウト構成 (Split Screen) */
.split-container {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* 左側サイドバー */
.sidebar {
  width: 300px;
  /* 画面上部に固定する設定 */
  position: sticky;
  top: 40px; /* 上端からの距離 */
  padding: 20px;
  height: fit-content;
}

/* SkillSet - Skilltag - Base */
.skill-tag {
  display: inline-block;
  padding: 0.33rem 0.67rem;
  margin: 0.33rem;
  border-radius: 0.75rem;
  background-color: var(--color-background-sub);
  color: var(--color-main);
  font-size:  0.75rem;
  transition: all 0.3s ease;
}

/* SkillSet - Skilltag - All */
.skill-tag.all {
  background-color: var(--color-accents);
  color: var(--color-background-main);
}

/* SkillSet - Skilltag - Active */
.skill-tag.active {
  background-color: var(--color-accents);
  color: var(--color-background-main);
  transform: scale(1.2);
}

/* Skillset - Skilltag - nonActive */
.skill-tag.non-active {
  transform: scale(0.8);
}


/* 右側タイムライン（簡易） */
.timeline {
  flex: 1;
  padding: 20px 0 20px 40px;
  border-left: 2px solid #e5e7eb; /* タイムラインの線 */
}

.project-card {
  margin-bottom: 80px; /* カード間の距離を空ける */
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.intro-area {
  height: 40vh; /* 最初のスクロール余白 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}