@charset "UTF-8";

/*** CSS Variables ***/
/** Responsive Layout **/
/* Desktop Landscape Layout */

/* Desktop Portrait Layout*/
@media(min-width:768px) and (max-aspect-ratio:4/3) {
}

/* Mobile Landscape Layout */
@media(max-width:768px) and (min-aspect-ratio:4/3) {
}

/* Mobile Portrait Layout */
@media(max-width:768px) and (max-aspect-ratio:4/3) {
}


/*** Styles ***/
/** Base **/
body {
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  color: var(--color-accents);
  margin-top: 0.5em;
}


/* レイアウト構成 (Split Screen) */
.split {
  display: table;
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 1vh 1vw;
}

.split-item{
  display: table-cell;
  min-height: calc(100vh - var(--header-height-min) - var(--footer-height));
  height: calc(100vh - var(--header-height) - var(--footer-height));
  max-height: calc(100vh - var(--header-height-max) - var(--footer-height))
}

.split-left{
  position: relative;
  width: 49vw;
  height: 100%;
}

.split-left-fix{
  position: fixed;
  width: 49vw;
  max-width: calc(var(--width-max-desktop) * 0.49);
}

.split-center{
  position: relative;
  width: 1vw;
}

.split-center-fix{
  position: fixed;
  border: 1px solid var(--color-accents);
}

.split-right{
  position: relative;
  width: 50%;
}

/* Split - Left */
.split-left h3{
  font-size: 1.5rem;
  color: var(--color-main);
  margin-top: 0.5em;
}

.split-left span{
  display: inline-block;
  padding: 0.33rem 0.67rem;
  margin: 0.33rem;
  border-radius: 0.75rem;
  background-color: var(--color-background-sub);
  color: var(--color-main);
  font-size:  0.75rem;
  transition: all 0.3s ease;
}

.split-left .disp{
  background-color: var(--color-background-main);
  color: var(--color-main);
  border: 1px solid var(--color-accents);
}

.split-left .active{
  background-color: var(--color-accents);
  color: var(--color-background-main);
  transform: scale(1.2);
}

.split-left .non-active{
  border-color: transparent;
  transform: scale(0.8);
}


/* Split - Right */
/* プロジェクト履歴エリア全体 */
.project-list {
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

/* 上下のダミー余白（スクロールの調整用） */
.project-list-spacer{
  height: 10%;
  max-height: 144px;
  scroll-snap-align: none;
}

/* プロジェクト履歴カード */
.split-right dl {
  scroll-snap-align: center;
  background-color: var(--color-background-main);
  height: 80%;
  max-height: 1440px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  margin-top: 2rem;
}

/* プロジェクト履歴タイトル */
.split-right dt{
  font-size: 1.5rem;
  color: var(--color-main);
  margin-top: 0.5em;
}

/* プロジェクト履歴時期 */
.split-right time {
  font-size: 0.75rem;
  color: var(--color-accents);
}

/* プロジェクト履歴作業工程 */
.split-right ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px 4px;
  margin-top: 0.25rem;
}

article li{
  font-size: 0.75rem;
  color: var(--color-sub);
  padding: 0.125em 0.5em;
  border:1px solid var(--color-sub);
  border-radius: 1em;
  margin-top: 0.25em;
}

article .enable{
  font-size: 0.91rem;
  color: var(--color-main);
  border:2px solid var(--color-accents);
}

/* プロジェクト履歴スキルセット */
.split-right dl div{
  margin-top: 0.5rem;
}

.split-right span{
  font-size:  0.75rem;
  color: var(--color-main);
  background-color: var(--color-background-main);
  padding: 0.33rem 0.67rem;
  margin: 0.5rem 0.33rem 0.5rem 0;
  border: 1px solid var(--color-accents);
  border-radius: 0.75rem;
}

/* プロジェクト履歴説明 */
.split-right dd{
  font-size: 1rem;
  color: var(--color-main);
  margin: 0.5rem 0 0 0.5rem;
}
