@charset "UTF-8";

/*** CSS Variables ***/
/** Responsive Layout **/
/* Desktop Landscape Layout */

/* Desktop Portrait Layout*/
@media(min-width:768px) and (max-aspect-ratio:4/3) {
}

/* Mobile Landscape Layout */
@media(max-width:768px) and (min-aspect-ratio:4/3) {
}

/* Mobile Portrait Layout */
@media(max-width:768px) and (max-aspect-ratio:4/3) {
}


/*** Styles ***/
/** Tag **/
body {
  overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
  font-size: 2rem;
  color: var(--color-accents);
}

h3 {
  font-size: 1.5rem;
  color: var(--color-main);
  margin-top: 0.5rem;
}

article {
  scroll-snap-align: center;
  background-color: var(--color-background-main);
  height: 60vh;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
article div{
  margin-top: 0.5rem;
}
article span{
  font-size:  0.9rem;
  color: var(--color-main);
  background-color: var(--color-background-main);
  padding: 0.33rem 0.67rem;
  margin: 0.5rem 0.33rem 0.5rem 0;
  border: 1px solid var(--color-accents);
  border-radius: 0.75rem;
}

time {
  font-size: 1.5rem;
  color: var(--color-accents);
}

p {
  font-size: 1rem;
  color: var(--color-main);
  margin: 0.5rem 0 0 0.5rem;
}

/* Class */
/* レイアウト構成 (Split Screen) */
.split {
  display: table;
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 1vh 1vw;
}

.split-item{
  display: table-cell;
}

.split-left{
  position: relative;
  width: 49vw;
  height: 100%;
}

.split-left-fix{
  position: fixed;
  width: 49vw;
  max-width: calc(var(--width-max-desktop) * 0.49);
}

.split-center{
  position: relative;
  width: 1vw;
}

.split-center-fix{
  position: fixed;
  height: 88%;
  border: 1px solid var(--color-accents);
}

.split-right{
    position: relative;
    width: 50%;
    height: 90vh;
    overflow:auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* SkillSet - Skilltag - Base */
.skill-tag {
  display: inline-block;
  padding: 0.33rem 0.67rem;
  margin: 0.33rem;
  border-radius: 0.75rem;
  background-color: var(--color-background-sub);
  color: var(--color-main);
  font-size:  0.75rem;
  transition: all 0.3s ease;
}

/* SkillSet - Skilltag - All */
.skill-tag.all {
  background-color: var(--color-background-main);
  color: var(--color-main);
  border: 1px solid var(--color-accents);
}

/* SkillSet - Skilltag - Active */
.skill-tag.active {
  background-color: var(--color-accents);
  color: var(--color-background-main);
  transform: scale(1.2);
}

/* Skillset - Skilltag - nonActive */
.skill-tag.non-active {
  border-color: transparent;
  transform: scale(0.8);
}

/* 上下のダミー余白（スクロールの調整用） */
.spacer-top,
.spacer-bottom {
  height: 10vh;
  scroll-snap-align: none;
}