@charset "UTF-8";
/**** Index ****/
/*** Variables ***/
/** Prefers Color Scheme Mode **/
/* Light Mode */
:root {
    --logo-x: url(../img/icon/logo-black.webp);
    --logo-git: url(../img/icon/github-mark.svg);
    --logo-repository: url(../img/icon/code.svg);
    --logo-comprehensive: url(../img/icon/swatch.svg);
}

/* Dark Mode */
@media(prefers-color-scheme: dark) {
    :root {
        --logo-x: url(../img/icon/logo.svg);
        --logo-git: url(../img/icon/github-mark-white.svg);
        --logo-repository: url(../img/icon/code-white.svg);
        --logo-comprehensive: url(../img/icon/swatch-white.svg);
    }
}


/** Responsive Layout **/
/* Desktop Landscape Layout */
:root {
    --default-width-min: 768px;
    --default-height-min: 576px;
    --default-width-max: 1440px;
    --default-height-max: 1080px;
    --header-height: 24px;
    --footer-height: 24px;
    --wrapper-width-min: 744px;
    --wrapper-width: 133.33vh;
    --wrapper-width-max: 1440px;
    --wrapper-height-min: 528px;
    --wrapper-height: 100vh;
    --wrapper-height-max: 1032px;
    --wrapper-margin: 0 auto;
    --grid-col: 8;
    --grid-row: 6;
    --grid-gap: 12px;
    --grid-tmp-area:
        "p p p p p t t t"
        "p p p p p d d d"
        "x e e e e d d d"
        "g e e e e d d d"
        "r e e e e d d d"
        "c e e e e d d d";
    --title-font-size: 12vh;
    --grid-title-font-size: 12vh;
    --profile-key-text: 3vh;
    --profile-value-text: 3vh;
    --profile-value-back-text: 3vh;
    --engineer-text-large: 7vh;
    --engineer-text-midium: 5vh;
    --engineer-text-small: 3vh;
}

/* Desktop Portrait Layout*/
@media(min-width:768px) and (max-aspect-ratio:4/3) {
    :root {
        --default-width-min: 768px;
        --default-height-min: 576px;
        --default-width-max: 1440px;
        --default-height-max: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 744px;
        --wrapper-width: 100vw;
        --wrapper-width-max: 1440px;
        --wrapper-height-min: 576px;
        --wrapper-height: 75vw;
        --wrapper-height-max: 1032px;
        --wrapper-margin: 0 auto;
        --grid-col: 8;
        --grid-row: 6;
        --grid-gap: 12px;
        --grid-tmp-area:
            "p p p p p t t t"
            "p p p p p d d d"
            "x e e e e d d d"
            "g e e e e d d d"
            "r e e e e d d d"
            "c e e e e d d d";
        --title-font-size: 9vw;
        --grid-title-font-size: 9vw;
        --profile-key-text: 2.25vw;
        --profile-value-text: 2.25vw;
        --profile-value-back-text: 2.25vw;
        --engineer-text-large: 5.25vw;
        --engineer-text-midium: 3.75vw;
        --engineer-text-small: 2.25vw;
    }
}

/* Mobile Landscape Layout */
@media(max-width:767px) and (min-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 133.33vh;
        --wrapper-height-min: 576px;
        --wrapper-height: 100vh;
        --wrapper-margin: 0 auto;
        --grid-col: 3;
        --grid-row: 12;
        --grid-gap: 6px;
        --grid-tmp-area:
            "t t t"
            "p p p"
            "p p p"
            "p p p"
            "e e e"
            "e e e"
            "e e e"
            "d d d"
            "d d d"
            "d d d"
            "x a g"
            "r a c";
        --title-font-size: 12vh;
        --grid-title-font-size: 12vh;
        --profile-key-text: 3vh;
        --profile-value-text: 3vh;
        --profile-value-back-text: 3vh;
        --engineer-text-large: 7vh;
        --engineer-text-midium: 5vh;
        --engineer-text-small: 3vh;
    }
}

/* Mobile Portrait Layout */
@media(max-width:767px) and (max-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 100vw;
        --wrapper-height-min: 576px;
        --wrapper-height: 75vw;
        --wrapper-margin: 0 auto;
        --grid-col: 3;
        --grid-row: 12;
        --grid-gap: 6px;
        --grid-tmp-area:
            "t t t"
            "p p p"
            "p p p"
            "p p p"
            "e e e"
            "e e e"
            "e e e"
            "d d d"
            "d d d"
            "d d d"
            "x a g"
            "r a c";
        --title-font-size: 9vw;
        --grid-title-font-size: 9vw;
        --profile-key-text: 2.25vw;
        --profile-value-text: 2.25vw;
        --profile-value-back-text: 2.25vw;
        --engineer-text-large: 5.25vw;
        --engineer-text-midium: 3.75vw;
        --engineer-text-small: 2.25vw;
    }
}


/*** Styles ***/
/** Header **/
header {
    min-height: var(--header-height);
}


/** Main **/
/* Grid - Layout */
.grid-title {
    grid-area: t;
}

.grid-profile {
    grid-area: p;
}

.grid-engineer {
    grid-area: e;
}

.grid-design {
    grid-area: d;
}

.grid-x {
    grid-area: x;
}

.grid-git {
    grid-area: g;
}

.grid-repository {
    grid-area: r;
}

.grid-comprehensive {
    grid-area: c;
}


/* Grid */
ul {
    min-width: var(--wrapper-width-min);
    width: var(--wrapper-width);
    min-height: calc(var(--wrapper-height-min) - (var(--header-height) + var(--footer-height)));
    height: calc(var(--wrapper-height) - (var(--header-height) + var(--footer-height)));
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(var(--grid-col), 1fr);
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-areas: var(--grid-tmp-area);
}

li {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-main);
    border: 1px solid var(--color-background-sub);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    backdrop-filter: var(--card-glass);
    -webkit-backdrop-filter: var(--card-glass);
    text-align: center;
}

li a{
    display: block;
    height: 100%;
    border: 1px solid transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    border-radius: var(--card-radius);
    transition: opacity 0.3s, border 0.15s;
}
li a:hover{
    border: 1px solid var(--color-accents);
    opacity: 0.5;
}


/* Grid - Title */
.grid-title{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.grid-title h1{
    font-size: var(--title-font-size);
    text-shadow:
        0.03em  0.00em 0 var(--color-background-sub),
        0.03em  0.03em 0 var(--color-background-sub);
}


/* Grid - Profile */
.grid-profile a{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "nk nv im"
        "jk jv im"
        "tt tt im";
    padding: 10px;
}

/* Grid - Profile - Title */
.grid-profile-title{
    grid-area: tt;
    position: relative;
    margin: auto auto 0 0.5rem;
    font-size: var(--grid-title-font-size);
    text-shadow:
        0.03em  0.00em 0 var(--color-background-sub),
        0.03em  0.03em 0 var(--color-background-sub);
    z-index: 1;
}
.grid-profile-title::before{
    position: absolute;
    content: "P";
    color: var(--color-accents);
    text-shadow:
        0.01em  0.01em 0 var(--color-accents),
       -0.01em  0.01em 0 var(--color-accents),
        0.01em -0.01em 0 var(--color-accents),
       -0.01em -0.01em 0 var(--color-accents);
    z-index: 2;
}

/* Grid - Profile - Name, Job */
.grid-profile-name-key,
.grid-profile-job-key{
    position: relative;
    font-size: var(--profile-key-text);
    text-align: left;
    padding-left: 1rem;
    z-index: 2;
}

.grid-profile-name-value,
.grid-profile-job-value{
    position: relative;
    font-size: var(--profile-value-text);
    text-align: left;
    padding-left: 1rem;
    z-index: 2;
}

.grid-profile-name-key::before,
.grid-profile-job-key::before,
.grid-profile-name-value::before,
.grid-profile-job-value::before{
    position: absolute;
    pointer-events: none;
    top: 0.9em;
    left: 4em;
    font-size: var(--profile-value-back-text);
    color: var(--color-main);
    opacity: 0.33;
    white-space: nowrap;
    z-index: 1;
}
.grid-profile-name-key::before,
.grid-profile-job-key::before{
    left: 2em;
}

/* Grid - Profile - Name */
.grid-profile-name-key{
    grid-area: nk;
}
.grid-profile-name-key::before{
    content:"id";
}

.grid-profile-name-value{
    grid-area: nv;
}
.grid-profile-name-value::before{
    content:"@oxmilch";
}

/* Grid - Profile - Job */
.grid-profile-job-key{
    grid-area: jk;
}
.grid-profile-job-key::before{
    content:"prev.";
}

.grid-profile-job-value{
    grid-area: jv;
}
.grid-profile-job-value::before{
    content:"backend dev.";
}

/* Grid - Profile - Image */
.gird-profile-image{
    grid-area: im;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}


/* Grid - Engineer */
.grid-engineer a{
    text-align: right;
    padding: 0 10px 10px;
    line-height: 1.2;
}

.grid-engineer h2{
    text-align: left;
    margin-left: 0.5rem;
}

.grid-engineer p{
    text-align: center;
    margin: auto 0.5rem;
    line-height: 1.15;
    color: var(--color-main);
    opacity: 0.5;
}

.grid-engineer span{
    margin:auto 0.1em;
}

/* Grid - Engineer - Title */
.grid-engineer-title{
    position: relative;
    margin: 0 auto 0 0;
    font-size: var(--grid-title-font-size);
    text-shadow:
        0.03em  0.00em 0 var(--color-background-sub),
        0.03em  0.03em 0 var(--color-background-sub);
    z-index: 1;
}
.grid-engineer-title::before{
    position: absolute;
    content: "E";
    color: var(--color-accents);
    text-shadow:
        0.01em  0.01em 0 var(--color-accents),
       -0.01em  0.01em 0 var(--color-accents),
        0.01em -0.01em 0 var(--color-accents),
       -0.01em -0.01em 0 var(--color-accents);
    z-index: 2;
}

/* Grid - Engineer - Midium */
.grid-engineer-middle{
    font-size: var(--engineer-text-midium);
}

/* Grid - Engineer - Small */
.grid-engineer-small{
    font-size: var(--engineer-text-small);
}

/* Grid - Engineer - And More.. */
.grid-engineer-more{
    margin: 0 0 0 auto;
    line-height: 1;
    font-size: var(--engineer-text-large);
    text-shadow:
        0.03em  0.00em 0 var(--color-background-sub),
        0.03em  0.03em 0 var(--color-background-sub);
}
.grid-engineer-more::after{
    content: ".";
    color: var(--color-accents);
    text-shadow:
        0.03em  0.00em 0 var(--color-background-sub),
        0.03em  0.03em 0 var(--color-background-sub);
}


/* Grid - Design */
.grid-design a{
    padding: 10px;
}

.grid-design img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Grid - Design - Title */
.grid-design-title{
    position: relative;
    top: 75%;
    left: -7%;
    font-size: var(--grid-title-font-size);
    text-shadow:
        0.03em  0.00em 0 var(--color-background-sub),
        0.03em  0.03em 0 var(--color-background-sub);
    z-index: 6;
}
.grid-design-title::before{
    position: absolute;
    content: "D";
    color: var(--color-accents);
    text-shadow:
        0.01em  0.01em 0 var(--color-accents),
       -0.01em  0.01em 0 var(--color-accents),
        0.01em -0.01em 0 var(--color-accents),
       -0.01em -0.01em 0 var(--color-accents);
    z-index: 5;
}


/* Grid - Design - Images */
/* width: 50% = height: 31.146 */
.grid-design-img-area{
    position: relative;
    height: 80%;
    font-size: 0;
    line-height: 0;
}

.grid-design-img-triangle{
    position: absolute;
    background-color: var(--color-accents);
    opacity: 0.91;
    width: 50%;
    height: 33.719%;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    top: 27.5%;
    left: 26%;
    z-index: 4;
}

.grid-design-img-circle{
    position: absolute;
    border-top: 2px solid var(--color-accents);
    border-left: 2px solid var(--color-accents);
    background-color: transparent;
    opacity: 1;
    aspect-ratio: 1;
    width: 72%;
    height: auto;
    border-radius: 50%;
    top: -12%;
    left: 3%;
    z-index: 3;
}

.grid-design-img-square{
    position: absolute;
    background-color: var(--color-main);
    opacity: 0.67;
    aspect-ratio: 1;
    width: 45%;
    height: auto;
    top: 5%;
    left: 51%;
    z-index: 2;
}

.grid-design-img-border{
    position: absolute;
    border-right: 1px solid var(--color-main);
    opacity: 0.5;
    transform: rotate(23.4deg);
    transform-origin: center;
    width: 0;
    height: 135%;
    top: -29.375%;
    left: 66%;
    z-index: 1;
}


/* Grid - X */
.grid-x a{
    background-image: var(--logo-x);
    padding: 20%;
}


/* Grid - Github */
.grid-git a{
    background-image: var(--logo-git);
    padding: 15%;
}


/* Grid - Repository */
.grid-repository a{
    background-image: var(--logo-repository);
    padding: 7%;
}


/* Grid - Comprehensive */
.grid-comprehensive a{
    background-image: var(--logo-comprehensive);
    padding: 7%;
}
