@charset "UTF-8";
/**** Index ****/
/*** Variables ***/
/** Prefers Color Scheme Mode **/
/* Light Mode */
:root {
    --logo-x: url(../img/icon/logo-black.webp);
    --logo-git: url(../img/icon/github-mark.svg);
    --logo-repository: url(../img/icon/code.svg);
    --logo-comprehensive: url(../img/icon/swatch.svg);
}

/* Dark Mode */
@media(prefers-color-scheme: dark) {
    :root {
        --logo-x: url(../img/icon/logo.svg);
        --logo-git: url(../img/icon/github-mark-white.svg);
        --logo-repository: url(../img/icon/code-white.svg);
        --logo-comprehensive: url(../img/icon/swatch-white.svg);
    }
}


/** Responsive Layout **/
/* Desktop Landscape Layout */
:root {
    --default-width-min: 768px;
    --default-height-min: 576px;
    --default-width-max: 1440px;
    --default-height-max: 1080px;
    --header-height: 24px;
    --footer-height: 24px;
    --wrapper-width-min: 744px;
    --wrapper-width: 133.33vh;
    --wrapper-width-max: 1440px;
    --wrapper-height-min: 528px;
    --wrapper-height: 100vh;
    --wrapper-height-max: 1032px;
    --wrapper-margin: 0 auto;
    --grid-col: 8;
    --grid-row: 6;
    --grid-gap: 12px;
    --grid-tmp-area:
        "p p p p p t t t"
        "p p p p p d d d"
        "x e e e e d d d"
        "g e e e e d d d"
        "r e e e e d d d"
        "c e e e e d d d";
    --title-font-size-v: 12vh;
    --profile-title-font-size: 12vh;
    --profile-key-text: 3vh;
    --profile-value-text: 3vh;
    --profile-value-back-text: 3vh;
}

/* Desktop Portrait Layout*/
@media(min-width:768px) and (max-aspect-ratio:4/3) {
    :root {
        --default-width-min: 768px;
        --default-height-min: 576px;
        --default-width-max: 1440px;
        --default-height-max: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 744px;
        --wrapper-width: 100vw;
        --wrapper-width-max: 1440px;
        --wrapper-height-min: 576px;
        --wrapper-height: 75vw;
        --wrapper-height-max: 1032px;
        --wrapper-margin: 0 auto;
        --grid-col: 8;
        --grid-row: 6;
        --grid-gap: 12px;
        --grid-tmp-area:
            "p p p p p t t t"
            "p p p p p d d d"
            "x e e e e d d d"
            "g e e e e d d d"
            "r e e e e d d d"
            "c e e e e d d d";
        --title-font-size-v: 9vw;
        --profile-title-font-size: 9vw;
        --profile-key-text: 2.25vw;
        --profile-value-text: 2.25vw;
        --profile-value-back-text: 2.25vw;
    }
}

/* Mobile Landscape Layout */
@media(max-width:767px) and (min-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 133.33vh;
        --wrapper-height-min: 576px;
        --wrapper-height: 100vh;
        --wrapper-margin: 0 auto;
        --grid-col: 3;
        --grid-row: 12;
        --grid-gap: 6px;
        --grid-tmp-area:
            "t t t"
            "p p p"
            "p p p"
            "p p p"
            "e e e"
            "e e e"
            "e e e"
            "d d d"
            "d d d"
            "d d d"
            "x a g"
            "r a c";
        --title-font-size-v: 12vh;
        --profile-title-font-size: 12vh;
        --profile-key-text: 3vh;
        --profile-value-text: 3vh;
        --profile-value-back-text: 3vh;
    }
}

/* Mobile Portrait Layout */
@media(max-width:767px) and (max-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 100vw;
        --wrapper-height-min: 576px;
        --wrapper-height: 75vw;
        --wrapper-margin: 0 auto;
        --grid-col: 3;
        --grid-row: 12;
        --grid-gap: 6px;
        --grid-tmp-area:
            "t t t"
            "p p p"
            "p p p"
            "p p p"
            "e e e"
            "e e e"
            "e e e"
            "d d d"
            "d d d"
            "d d d"
            "x a g"
            "r a c";
        --title-font-size-v: 9vw;
        --profile-title-font-size: 9vw;
        --profile-key-text: 2.25vw;
        --profile-value-text: 2.25vw;
        --profile-value-back-text: 2.25vw;
    }
}


/*** Styles ***/
/** Header **/
header {
    min-height: var(--header-height);
}

/** Main **/
/* Grid - Layout */
.grid-title {
    grid-area: t;
}

.grid-profile {
    grid-area: p;
}

.grid-engineer {
    grid-area: e;
}

.grid-designer {
    grid-area: d;
}

.grid-x {
    grid-area: x;
}

.grid-git {
    grid-area: g;
}

.grid-repository {
    grid-area: r;
}

.grid-comprehensive {
    grid-area: c;
}

/* Grid */
ul {
    min-width: var(--wrapper-width-min);
    width: var(--wrapper-width);
    min-height: calc(var(--wrapper-height-min) - (var(--header-height) + var(--footer-height)));
    height: calc(var(--wrapper-height) - (var(--header-height) + var(--footer-height)));
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(var(--grid-col), 1fr);
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-areas: var(--grid-tmp-area);
}

li {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-main);
    border: 1px solid var(--color-background-sub);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    backdrop-filter: var(--card-glass);
    -webkit-backdrop-filter: var(--card-glass);
    text-align: center;
}

li a{
    display: block;
    height: 100%;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    border-radius: var(--card-radius);
    transition: 300ms;
}
li a:hover{
    background-color: var(--color-background-sub);
    color: var(--color-sub);
}

/* Grid - Title */
.grid-title{
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.grid-title h1{
    font-size: clamp(4rem, var(--title-font-size-v), 8rem);
    text-align: center;
}

/* Grid - Profile */
.grid-profile a{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "nk nv im"
        "jk jv im"
        "tt tt im";
    padding: 10px;
}

.grid-profile a p{
    display: block;
}

/* Grid - Profile - Title */
.grid-profile-title{
    grid-area: tt;
    margin: auto auto 0 0.5rem;
    font-size: clamp(4rem, var(--profile-title-font-size), 8rem);
}

/* Grid - Profile - Name, Job */
.grid-profile-name-key,
.grid-profile-job-key{
    position: relative;
    font-size: clamp(1rem, var(--profile-key-text), 2rem);
    text-align: left;
    padding-left: 1rem;
}

.grid-profile-name-value,
.grid-profile-job-value{
    position: relative;
    font-size: clamp(1rem, var(--profile-value-text), 2rem);
    text-align: left;
    padding-left: 1rem;
    z-index: 1;
}

.grid-profile-name-value::before,
.grid-profile-job-value::before{
    position: absolute;
    pointer-events: none;
    top: 0.9em;
    left: 4em;
    font-size: clamp(1rem, var(--profile-value-back-text), 2rem);
    color: var(--color-sub);
    white-space: nowrap;
    z-index: -1;
}


/* Grid - Profile - Name */
.grid-profile-name-key{
    grid-area: nk;
}
.grid-profile-name-value{
    grid-area: nv;
}
.grid-profile-name-value::before{
    content:"@oxmilch";
}

/* Grid - Profile - Job */
.grid-profile-job-key{
    grid-area: jk;
}
.grid-profile-job-value{
    grid-area: jv;
}
.grid-profile-job-value::before{
    content:"Backend Dev.";
}

/* Grid - Profile - Image */
.gird-profile-image{
    grid-area: im;
    height: 90%;
    border-radius: 50%;
    margin: auto;
}

/* Grid - Engineer */

/* Grid - Design */

/* Grid - X */
.grid-x a{
    background-image: var(--logo-x);
    padding: 20%;
}

/* Grid - Github */
.grid-git a{
    background-image: var(--logo-git);
    padding: 15%;
}

/* Grid - Repository */
.grid-repository a{
    background-image: var(--logo-repository);
    padding: 7%;
}

/* Grid - Comprehensive */
.grid-comprehensive a{
    background-image: var(--logo-comprehensive);
    padding: 7%;
}