@charset "UTF-8";

/*** CSS Variables ***/
/** Prefers Color Scheme Mode **/
/* Light Mode */
@media(prefers-color-scheme: light) {
    :root {
        /* Light Mode */
        --logo-x: url(../img/icon/logo-black.webp);
        --logo-git: url(../img/icon/github-mark.svg);
        --logo-repository: url(../img/icon/code.svg);
        --logo-comprehensive: url(../img/icon/swatch.svg);
    }
}

/* Dark Mode */
@media(prefers-color-scheme: dark) {
    :root {
        --logo-x: url(../img/icon/logo.svg);
        --logo-git: url(../img/icon/github-mark-white.svg);
        --logo-repository: url(../img/icon/code-white.svg);
        --logo-comprehensive: url(../img/icon/swatch-white.svg);
    }
}


/** Responsive Layout **/
/* Desktop Landscape Layout */
@media (min-width:768px) and (min-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 133.33vh;
        --wrapper-height-min: 576px;
        --wrapper-height: 100vh;
        --wrapper-margin: 0 auto;
        --grid-col: 8;
        --grid-row: 6;
        --grid-gap: 12px;
        --grid-tmp-area:
            "p p p p p t t t"
            "p p p p p d d d"
            "x e e e e d d d"
            "g e e e e d d d"
            "r e e e e d d d"
            "c e e e e d d d";
    }
}

/* Desktop Portrait Layout*/
@media(min-width:768px) and (max-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 100vw;
        --wrapper-height-min: 576px;
        --wrapper-height: 75vw;
        --wrapper-margin: 0 auto;
        --grid-col: 8;
        --grid-row: 6;
        --grid-gap: 12px;
        --grid-tmp-area:
            "p p p p p t t t"
            "p p p p p d d d"
            "x e e e e d d d"
            "g e e e e d d d"
            "r e e e e d d d"
            "c e e e e d d d";
    }
}

/* Mobile Landscape Layout */
@media(max-width:768px) and (min-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 133.33vh;
        --wrapper-height-min: 576px;
        --wrapper-height: 100vh;
        --wrapper-margin: 0 auto;
        --grid-col: 3;
        --grid-row: 12;
        --grid-gap: 6px;
        --grid-tmp-area:
            "t t t"
            "p p p"
            "p p p"
            "p p p"
            "e e e"
            "e e e"
            "e e e"
            "d d d"
            "d d d"
            "d d d"
            "x a g"
            "r a c";
    }
}

/* Mobile Portrait Layout */
@media(max-width:768px) and (max-aspect-ratio:4/3) {
    :root {
        --default-width: 1440px;
        --default-height: 1080px;
        --header-height: 24px;
        --footer-height: 24px;
        --wrapper-width-min: 768px;
        --wrapper-width: 100vw;
        --wrapper-height-min: 576px;
        --wrapper-height: 75vw;
        --wrapper-margin: 0 auto;
        --grid-col: 3;
        --grid-row: 12;
        --grid-gap: 6px;
        --grid-tmp-area:
            "t t t"
            "p p p"
            "p p p"
            "p p p"
            "e e e"
            "e e e"
            "e e e"
            "d d d"
            "d d d"
            "d d d"
            "x a g"
            "r a c";
    }
}

/* Tag */
header {
    min-height: var(--header-height);
}

main {
    min-width: var(--wrapper-width-min);
    width: var(--wrapper-width);
    min-height: calc(var(--wrapper-height-min) - (var(--header-height) + var(--footer-height)));
    height: calc(var(--wrapper-height) - (var(--header-height) + var(--footer-height)));
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(var(--grid-col), 1fr);
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-areas: var(--grid-tmp-area);
}

footer {
    min-height: var(--footer-height);
    text-align: center;
}

/** MainGridLayout **/
/* Class */
.grid-title {
    grid-area: t;
}

.grid-profile {
    grid-area: p;
}

.grid-engineer {
    grid-area: e;
}

.grid-designer {
    grid-area: d;
}

.grid-x {
    grid-area: x;
}

.grid-git {
    grid-area: g;
}

.grid-repository {
    grid-area: r;
}

.grid-comprehensive {
    grid-area: c;
}


/* GridLayout - Card */
.card-engineer,
.card-designer,
.card-profile,
.card-x,
.card-git,
.card-repository,
.card-comprehensive {
    width: 100%;
    height: 100%;
    background-color: var(--color-background-main);
    border: 1px solid var(--color-background-sub);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    backdrop-filter: var(--card-glass);
    -webkit-backdrop-filter: var(--card-glass);
    text-align: center;
    vertical-align: middle;
}

.card-title {
    color: var(--color-accents);
    font-size: clamp(3rem, 5vw + 1rem, 7rem);
    display: flex;
    justify-content: space-between;
}

.card-x,
.card-git,
.card-repository,
.card-comprehensive {
    display: block;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}

.card-x {
    background-image: var(--logo-x);
    padding: 15%;
}

.card-git {
    background-image: var(--logo-git);
    padding: 10%;
}

.card-repository {
    background-image: var(--logo-repository);
    padding: 2%;
}

.card-comprehensive {
    background-image: var(--logo-comprehensive);
    padding: 2%;
}