@charset "UTF-8";
/**** Common ****/
/*** Variables ***/
/** Prefers Color Scheme Mode **/
/* Light Mode */
:root {
    --color-main: #1f2937;
    --color-sub: #1f293755;
    --color-background-base: #f3f4f6;
    --color-background-main: #fefefe;
    --color-background-sub: #e5e7eb;
    --color-accents: #3b82f6;

    --card-radius: calc(12px + 1%);
    --card-shadow: 0 4px 6px -1px #0002;
    --card-glass: none;
}

/* Dark Mode */
@media(prefers-color-scheme: dark) {
    :root {
        --color-main: #f8fafc;
        --color-sub: #f8fafc77;
        --color-background-base: #0f172a;
        --color-background-main: #1e293bb3;
        --color-background-sub: #27364db3;
        --color-accents: #a855f7;

        --card-radius: calc(16px + 1%);;
        --card-shadow: 0 8px 32px 0 #0000005f;
        --card-glass: blur(12px);
    }
}


/*** Styles ***/
/** Common **/
/* Tag */
html {
    font-size: 100%;
    background-color: var(--color-background-base);
    margin: auto;
}

footer {
    min-height: var(--footer-height);
    text-align: center;
}

small {
    color: var(--color-sub)
}

a {
    color: var(--color-main);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Class */
.font-ja {
    font-family: "IBM Plex Sans JP",         /* web Ja */
                 "Helvetica Neue",           /* mac En */
                 "Arial",                    /* win En */
                 "Hiragino Sans",            /* mac Ja (10.13~) */
                 "Hiragino Kaku Gothic Pro", /* mac Ja (~10.12) */
                 "BIZ-UDPGothic",            /* win Ja (10, 11) */
                 "BIZ UDPゴシック",           /* win Ja (10, 11) */
                 sans-serif;
    font-style: normal;
    font-weight: 400;
}

.font-en-ex-light {
    font-family: "IBM Plex Sans",  /* web En */
                 "Helvetica Neue", /* mac En */
                 "Arial",          /* win En */
                 sans-serif;
    font-style: normal;
    font-weight: 200;
}

.font-en-bold {
    font-family: "IBM Plex Sans",  /* web En */
                 "Helvetica Neue", /* mac En */
                 "Arial",          /* win En */
                 sans-serif;
    font-style: normal;
    font-weight: 700;
}

.font-color-main{
    color: var(--color-main);
}

.font-color-sub{
    color: var(--color-sub);
}

.font-color-accents{
    color: var(--color-accents);
}

.wrapper {
    margin: var(--wrapper-margin);
}