@charset "UTF-8";
/**** Common ****/
/*** Variables ***/
/** Base **/
:root {
    --width-min-desktop: 768px;
    --width-max-desktop: 1440px;
    --height-min-desktop: 576px;
    --height-max-desktop: 1080px;
    --width-min-mobile: 320px;
    --widht-max-mobile: 767px;
    --height-min-mobile: 480px;
    --heihgt-max-mobile: auto;
}

/** Prefers Color Scheme Mode **/
/* Light Mode */
:root {
    --color-main: #1f2937;
    --color-sub: #1f293755;
    --color-background-base: #f3f4f6;
    --color-background-main: #fefefe;
    --color-background-sub: #e5e7eb;
    --color-accents: #3b82f6;

    --card-radius: calc(12px + 1%);
    --card-shadow: 0 4px 6px -1px #0002;
    --card-glass: none;

    --logo-x: url(../img/icon/logo-black.webp);
    --logo-git: url(../img/icon/github-mark.svg);
    --logo-repository: url(../img/icon/code.svg);
    --logo-comprehensive: url(../img/icon/swatch.svg);
}

/* Dark Mode */
@media(prefers-color-scheme: dark) {
    :root {
        --color-main: #f8fafc;
        --color-sub: #f8fafc77;
        --color-background-base: #0f172a;
        --color-background-main: #1e293bb3;
        --color-background-sub: #27364db3;
        --color-accents: #a855f7;

        --card-radius: calc(16px + 1%);;
        --card-shadow: 0 8px 32px 0 #0000005f;
        --card-glass: blur(12px);

        --logo-x: url(../img/icon/logo.svg);
        --logo-git: url(../img/icon/github-mark-white.svg);
        --logo-repository: url(../img/icon/code-white.svg);
        --logo-comprehensive: url(../img/icon/swatch-white.svg);
    }
}


/*** Styles ***/
/** Common **/
/* Base */
html {
    font-size: 100%;
    background-color: var(--color-background-base);
    margin: auto;
}

a {
    color: var(--color-main);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header Area */
header {
    position: sticky;
    top: 0;
    background-color: var(--color-background-main);
    padding-top: 0.3rem;
    z-index: 99;
}
header div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-between;
    width: 100%;
}
header h1 {
    font-size: 2.5rem;
    margin: 0;
}
header ul{
    display: flex;
    gap: 1em;
}
header a{
    border: 1px solid transparent;
    border-radius: 0.5em;
    padding: 0 1em;
    transition: opacity 0.3s, border 0.15s;
}
header a:hover{
    border: 1px solid var(--color-accents);
    opacity: 0.5;
}

nav li{
    font-size: 1.5rem;
    padding: 0.5em 1em;
}
nav a{
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

/* Footer Area */
footer {
    min-height: var(--footer-height);
    text-align: center;
}

small {
    color: var(--color-sub)
}


/* Class - font */
.font-ja {
    font-family: "IBM Plex Sans JP",         /* web Ja */
                 "Helvetica Neue",           /* mac En */
                 "Arial",                    /* win En */
                 "Hiragino Sans",            /* mac Ja (10.13~) */
                 "Hiragino Kaku Gothic Pro", /* mac Ja (~10.12) */
                 "BIZ-UDPGothic",            /* win Ja (10, 11) */
                 "BIZ UDPゴシック",           /* win Ja (10, 11) */
                 sans-serif;
    font-style: normal;
    font-weight: 400;
}

.font-en-ex-light {
    font-family: "IBM Plex Sans",  /* web En */
                 "Helvetica Neue", /* mac En */
                 "Arial",          /* win En */
                 sans-serif;
    font-style: normal;
    font-weight: 200;
}

.font-en-bold {
    font-family: "IBM Plex Sans",  /* web En */
                 "Helvetica Neue", /* mac En */
                 "Arial",          /* win En */
                 sans-serif;
    font-style: normal;
    font-weight: 700;
}

.font-color-main{
    color: var(--color-main);
}

.font-color-sub{
    color: var(--color-sub);
}

.font-color-accents{
    color: var(--color-accents);
}

/* Class - wrapper */
.wrapper {
    width: 96vw;
    max-width: var(--width-max-desktop);
    margin: 0 auto;
}

/* Class - image */
.header-img {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    height: 3rem;
}
.header-img li{
    display: block;
    width: 100%;
    height: 100%;
}
.header-img a{
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}

.logo-x{
    background-image: var(--logo-x);
    padding: 20%;
}

.logo-git{
    background-image: var(--logo-git);
    padding: 15%;
}

.logo-repository{
    background-image: var(--logo-repository);
    padding: 7%;
}

.logo-comprehensive{
    background-image: var(--logo-comprehensive);
    padding: 7%;
}
