@charset "UTF-8";

html{
    font-size: 100%;
    font-family: "IBM Plex Sans JP", sans-serif;
}

body{
    background-color: #F3F4F6;
    color:#1F2937;
}

img{
    max-width: 100%;
}

.accent-color{
    color: #3B82F6;
}

.border-color{
    border: 1px solid #E5E7EB;
}
