@charset "UTF-8";

/*** Variables ***/
/** Prefers Color Scheme Mode **/
/* Light Mode */
:root {
    --color-main: #1f2937;
    --color-sub: #1F293755;
    --color-background-base: #F3F4F6;
    --color-background-main: #fefefe;
    --color-background-sub: #E5E7EB;
    --color-accents: #3B82F6;

    --card-radius: 12px;
    --card-shadow: 0 4px 6px -1px #00000003;
    --card-glass: none;
}

/* Dark Mode */
@media(prefers-color-scheme: dark) {
    :root {
        --color-main: #f8fafc;
        --color-sub: #f8fafc55;
        --color-background-base: #0f172a;
        --color-background-main: #1e293bb3;
        --color-background-sub: #ffffff03;
        --color-accents: #a855f7;

        --card-radius: 16px;
        --card-shadow: 0 8px 32px 0 #0000005f;
        --card-glass: blur(12px);
    }
}


/*** Styles ***/
/** Common **/
/* Tag */
html {
    font-size: 100%;
    background-color: var(--color-background-base)
}

footer {
    min-height: var(--footer-height);
    text-align: center;
}

small {
    color: var(--color-sub)
}

a {
    color: var(--color-accents);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Class */
.font-ja {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--color-main);
}

.font-en-ex-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    color: var(--color-main);
}

.font-en {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--color-main);
}

.font-size-100 {
    font-size: 1.0rem;
}

.wrapper {
    margin: var(--wrapper-margin);
}